[Unit]
Description=Set hostname to MAC address
Before=docker.service
[Service]
Type=oneshot
ExecStart=/usr/local/bin/setMacHostname.sh
[Install]
WantedBy=multi-user.target
